/*!  SHORTCODE TEAM MEMBER
----------------------------------------------------------*/

.vl-team-member.style1
	.vl-team-member-avatar
		position relative
		img
			line-height 0
			
	.vl-team-member-content
		padding 10px
		text-align center
		border 1px solid $c8
		border-top none
	p
		font-size 12px
		margin 0
