/*!  SHORTCODE RANFOLIO
----------------------------------------------------------*/

.vl-ranfolio-holder
	display flex
	align-items center
	justify-content center

.vl-ranfolio-holder a,
.vl-ranfolio-holder span
	font-size 55px
	line-height 1.4
	@media (max-width: 767px)
		font-size 36px
			
.vl-ranfolio-holder a + a
	margin-left 30px