/*!  SHORTCODE THEME FEATURE
----------------------------------------------------------*/

.vl-theme-feature
	.vl-theme-feature-image
		float left
		margin-right 15px
		a
			display block
			line-height 0
			img
				max-width 50px
		
	.vl-theme-feature-content 
		.vl-theme-feature-title
			margin-bottom 10px
			line-height 1
		.vl-theme-feature-text
			margin 0

@media (max-width: 575px)
	.vl-theme-feature
		margin-bottom 50px