/*!  SHORTCODE SERVICES
----------------------------------------------------------*/

.vl-services.top
	text-align center
	.vl-services-icon + .vl-services-content
		margin-top 15px

.vl-services.left
	.vl-services-icon
		float left
		
.vl-services.right
	.vl-services-icon
		float right
	.vl-services-content 
		text-align right

.vl-services .vl-services-content 
	.vl-services-title
		margin-bottom 15px
		line-height 1
		text-transform uppercase
	.vl-services-description
		margin 0

@media (max-width: 575px)
	.vl-services
		margin-bottom 50px