/*!  SHORTCODE ALERT
----------------------------------------------------------*/

.vl-alert
	padding 15px 20px
	margin-bottom 1.5rem
	border 1px solid $c0
	color $c0
	font-size 14px
	strong
		font-weight 400
	p:first-of-type
		margin-top 0
	p:last-of-type
		margin-bottom 0
