/*!  SHORTCODE PARTNERS
----------------------------------------------------------*/

.vl-partner-item
	display flex
	align-items center
	line-height 0
	&.left
		justify-content flex-start
	&.center
		justify-content center
	&.right
		justify-content flex-end
	a
		display block

.vl-partner-item .vl-partner-item-inner img
	display inline-block
	width auto
