/*!  SHORTCODE HERO HEADER
----------------------------------------------------------*/
	
.vl-hero-title-holder
	padding-top 180px
	padding-bottom 100px
	min-height 80vh
	background-color $c8
	display flex
	align-items center
	justify-content center
	background-size cover
	background-position center center
	background-repeat no-repeat
	width 100%

.vl-hero-title-inner
	padding 60px
	text-align center
	min-width 30%
	background-color rgba($c6, .95)
		
	.vl-hero-title
		font-size 26px
		text-transform uppercase
		letter-spacing 2px
		line-height 1.4
		
	.vl-hero-subtitle,
	.vl-hero-meta
		margin-top 5px
		margin-bottom 0
		
	.vl-post-meta 
		i
			margin-right 4px
		span + span
			margin-left 10px


