/*!  SHORTCODE PROJECT META
----------------------------------------------------------*/

.vl-project-meta
	margin 0
	width auto
	line-height 2.5
	&, th, td
		border none
		padding 0
	tr + tr
		padding-top 5px
		
	tr td:first-child
		padding-right 50px
		font-weight 700
	.vl-project-meta-title
		color $c0