/*!  SHORTCODE SINGLE ICON
----------------------------------------------------------*/

.vl-single-icon
	display inline-flex
	align-items center
	justify-content center
	height 22px
	width 22px
	border-radius 2px
	font-size 12px
	color $c6
	background-color $c0
	&:hover
		color $c6
		background-color $c1

.vl-single-icon + .vl-single-icon
	margin-left 6px
