/*!  SHORTCODE DIVIDER
----------------------------------------------------------*/

.divider
	display block
	height 5px
	width 100%
	margin 1.5rem 0
	background-image linear-gradient(-45deg, $c7 25%, transparent 25%, transparent 50%, $c7 50%, $c7 75%, transparent 75%, transparent)
	background-size 5px 5px
