/*!  SHORTCODE COLLAGE
----------------------------------------------------------*/

	
.vl-collage-list .vl-collage-inner
	position relative
	line-height 0
	font-size 0
	
.vl-collage-list.gutter .vl-collage-inner
	margin -30px
	padding 30px
		
.vl-collage-inner .vl-collage-image
	visibility hidden
	position relative
	line-height 0
	a
		z-index 2
		
.vl-collage-inner .vl-collage-image .vl-collage-link
	position absolute
	top 0
	left 0
	width 100%
	height 100%