/*------------------------------------------------------------------
[Master Stylesheet]

Project: Vinero
Version: 1.0

-------------------------------------------------------------------*/

// THEME VARIABLES

$c0 = #000000
$c1 = #333333
$c2 = #555555
$c3 = #aaaaaa
$c4 = #f5f5f5
$c5 = #f8f3ed
$c6 = #ffffff
$c7 = #cccccc
$c8 = #efefef
$c9 = #eeeeee


$fa = FontAwesome
$im = iconsmind

$transition = linear


// THEME MIXINS

placeholder()
	&::-webkit-input-placeholder
		{block}
	&:-moz-placeholder
		{block}
	&::-moz-placeholder
		{block}
	&:-ms-input-placeholder
		{block}


/*!  PARTICLES
----------------------------------------------------------*/

@import 'particles/general.styl'
@import 'particles/typography.styl'
@import 'particles/additional.styl'
@import 'particles/wordpress.styl'

@import 'particles/plugins/lightbox.styl'
@import 'particles/plugins/swiper.styl'
@import 'particles/plugins/tooltipster.styl'

@import 'particles/header/header.styl'
@import 'particles/blog/sidebar.styl'
@import 'particles/footer/footer.styl'

@import 'particles/blog/post-standard.styl'
@import 'particles/blog/post-masonry.styl'
@import 'particles/blog/popular-recent-news.styl'
@import 'particles/blog/single.styl'
@import 'particles/blog/navigation.styl'
@import 'particles/blog/comments.styl'

@import 'particles/shop/woocommerce.styl'
@import 'particles/shop/product-standard.styl'

@import 'shortcodes/shortcode-alerts.styl'
@import 'shortcodes/shortcode-buttons.styl'
@import 'shortcodes/shortcode-collage.styl'
@import 'shortcodes/shortcode-divider.styl'
@import 'shortcodes/shortcode-dropcap.styl'
@import 'shortcodes/shortcode-gmap.styl'
@import 'shortcodes/shortcode-hoverfolio.styl'
@import 'shortcodes/shortcode-partners.styl'
@import 'shortcodes/shortcode-portfolio.styl'
@import 'shortcodes/shortcode-pricing-table.styl'
@import 'shortcodes/shortcode-ranfolio.styl'
@import 'shortcodes/shortcode-services.styl'
@import 'shortcodes/shortcode-counter-up.styl'
@import 'shortcodes/shortcode-custom-title.styl'
@import 'shortcodes/shortcode-dribbble-shots.styl'
@import 'shortcodes/shortcode-hero-header.styl'
@import 'shortcodes/shortcode-macos-window.styl'
@import 'shortcodes/shortcode-mask-images.styl'
@import 'shortcodes/shortcode-offers-list.styl'
@import 'shortcodes/shortcode-post-share.styl'
@import 'shortcodes/shortcode-progress-bar.styl'
@import 'shortcodes/shortcode-project-meta.styl'
@import 'shortcodes/shortcode-single-icon.styl'
@import 'shortcodes/shortcode-single-image.styl'
@import 'shortcodes/shortcode-team-member.styl'
@import 'shortcodes/shortcode-typed-text.styl'
@import 'shortcodes/shortcode-theme-feature.styl'
@import 'shortcodes/shortcode-video-lightbox.styl'






