/*!  GENERAL STYLES
----------------------------------------------------------*/

body
	margin 0
	padding 0
	min-width 320px
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	
body,
.vl-content-holder
	background-color $c6
	
img
	max-width 100%
	height auto
	
	
/*!  CONTENT
----------------------------------------------------------*/

.container
	max-width 1140px
	width 100%

.vl-main-padding
	padding 90px 0
	@media (max-width: 767px)
		padding 80px 0

// EMPTY CONTENT

.vl-content-empty p
	margin-bottom 0

.vl-content-empty .vl-btn
	margin-top 30px
		
.vl-content-empty-input .vl-search-form
	margin-top 30px
	max-width 320px

// EDIT CONTENT

.edit-link
	display block
	margin-top 50px
	a
		margin-right 15px
	