/*!  WORDPRESS DEFAULT CSS
----------------------------------------------------------*/

.alignnone
	margin 2rem

.aligncenter
	display inline-block

.alignright
	float right
	margin 2rem 0 2rem 2rem

.alignleft
	float left
	margin 2rem 2rem 2rem 0

.wp-caption
	max-width 100%
	padding 0
	text-align center
	margin 1rem 0
	
	&.alignnone
		margin 2rem 0 2rem 0
		
	&.alignleft
		margin 2rem 2rem 2rem 0
		
	&.alignright
		margin 2rem 0 2rem 2rem
		
	img
		display block
		margin 0
		
	p.wp-caption-text
		font-size 14px
		color $c0
		font-style italic
		margin 1rem 0 0

.screen-reader-text,
.gallery-caption,
.bypostauthor
	font-size inherit