/*!  POST MASONRY
----------------------------------------------------------*/

.vl-postlist
	display block
	width 100%
	
.vl-post-masonry
	position relative

.vl-post-masonry
	
	.vl-post-thumbnail
		text-align center
		line-height 0
		a
			display inline-block
	
	.vl-post-thumbnail + .vl-post-content
		padding-top 20px
	
	.vl-post-content

		.vl-post-title
			font-size 18px
			line-height 1.4
			text-transform uppercase
			a
				color $c0
				&:hover
					color $c1
				
		.vl-post-meta
			font-size 12px
			margin-bottom 10px
			i
				margin-right 4px
			span + span
				margin-left 15px
				
		.vl-post-excerpt
			margin-top 15px
			p
				margin-bottom 0

		.vl-post-footer
			margin-top 20px

			
.vl-post-standard.sticky .vl-post-title a::before
	content '\f097'
	font-family fontawesome
	margin-right 4px
	padding-left 1px
