/*!  POST SINGLE
----------------------------------------------------------*/

.vl-post-single 
	.vl-post-footer
		margin-top 30px
		display flex
		justify-content space-between
	.vl-post-content
		padding-bottom 15px