/*!  SWIPER SLIDER
----------------------------------------------------------*/

.swiper-container
	line-height 0

.swiper-pagination-bullets
	line-height 0
	font-size 0
		
.swiper-pagination-bullet
	opacity 1
	background-color $c3
	
.swiper-pagination-bullet-active
	background-color $c0
	
.swiper-pagination
	bottom 15px

.swiper-button-prev,
.swiper-button-next
	height 60px
	width 30px
	margin-top -30px
	color $c6
	display flex
	align-items center
	justify-content center
	font-size 24px
	background-image none
	background-color $c0
	transition all 150ms $transition
	&:hover
		background-color $c2
		color $c6
